/* theme of the website */
:root {
    --primary-color:#2F3643;
    --secondary-color:#F1DCB8;
    --menu-shade:#61708e;
    --specific-color:orange;
}

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, 'Courier New', monospace;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
}
header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background-color: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
}
header .menubar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
header .logo {
    background-color:var(--menu-shade);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    text-wrap: wrap;
    width: 370px;
    font-size: 20px;
}
header .DTU-LOGO {
    height: 90px;
}
header .menu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}
header .menu ul li a {
    color: white;
    text-decoration: none;
    background-color: var(--menu-shade);
    padding: 10px;
    border-radius: 20px;
    position: relative;
    transition: transform 0.5s ease;
    display: inline-block;
}

header .menu ul li a:hover {
    transform: scale(120%);
    text-decoration: underline;
}

header .menu ul li .Contact-us {
    background-color: var(--specific-color);
    color: black;
}
header .menu .home {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    width: 20px;
    font-weight: bold;
    border-radius: 80px;
}
.contact-container {
    margin: 50px;
    padding: 50px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
}
.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.contact-container .contact-form input,
.contact-container .contact-form textarea {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
.contact-container .contact-form textarea {
    height: 200px;
}
.contact-container .contact-form input:focus,
.contact-container .contact-form textarea:focus {
    border-color: var(--button-color);
    outline: none;
}
.contact-container .contact-form button {
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-container .contact-form button:hover {
    background-color: #357ab7;
}
.foot {
    background-color: var(--primary-color);
    color: gray;
    padding: 50px;
}