/* theme of the website */
:root {
    --primary-color:#2F3643;
    --secondary-color:#F1DCB8;
    --menu-shade:#61708e;
    --specific-color:orange;
}

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, 'Courier New', monospace;
}
header .social-media-handles {
    background-color: var(--secondary-color);
    padding-left: 20px;
}
header .menubar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
header .logo {
    background-color:var(--menu-shade);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    text-wrap: wrap;
    width: 370px;
    font-size: 20px;
}
header .DTU-LOGO {
    height: 90px;
}
header .menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}
header .menu ul li a {
    color: white;
    text-decoration: none;
    background-color: var(--menu-shade);
    padding: 10px;
    border-radius: 20px;
}
header .menu ul li .Contact-us {
    background-color: var(--specific-color);
    color: black;
}